.searcher
    grid-area: searcher
    &__form__input
        width: 60%
        padding: 5px
        @media ( min-width: 1024px )
            width: 80%
            padding: 10px
    &__form__btn
        width: 20px
        height: 20px
        margin-left: 10px
        padding-top: 15px
        &:hover
            cursor: pointer
    &__form__output
        position: relative
        z-index: 7
        background-color: #fff
        text-align: center
        font-weight: bold
        padding-bottom: 15px
        color: #000
        width: 65%
        @media ( min-width: 1024px )
            width: 85%
        &0
            display: none